#A example of Ansible Invetery
#Some useful parameters:
# - ansible_ssh_port
# - ansible_ssh_user
# - ansible_ssh_private_key_file
#Check out http://www.ansibleworks.com/docs/patterns.html#list-of-reserved-inventory-parameters  for all possible parameters

localhost              ansible_connection=local
vpn.example.com  ansible_ssh_user=root  ansible_ssh_private_key_file=~/.ssh/some_key
auth.example.com  ansible_ssh_user=root  ansible_ssh_private_key_file=~/.ssh/some_key

[l2tp]
vpn.example.com

[pptp]
vpn.example.com

[ipsec]
vpn.example.com

[openconnect]
vpn.example.com

[vpn]
vpn.example.com

[auth]
auth.example.com
